VITE_API_URL=http://localhost:6000/api/v1/auth
VITE_DASHBOARD_URL=http://localhost:6000/api/v1/dashboard
VITE_TRANSACTIONS_URL=http://localhost:6000/api/v1/transactions
VITE_CUSTOMERS_URL=http://localhost:6000/api/v1/customers
VITE_INSIGHTS_URL=http://localhost:6000/api/v1/insights
VITE_REPORTS_URL=http://localhost:6000/api/v1/reports
VITE_INVOICES_URL=http://localhost:6000/api/v1/invoices
